/* Whole document */
body {
	font-family: Helvetica, Arial, sans-serif;
	width: 800px;
	margin: auto;
	text-align: justify;
	background: #FFFFFF;
	padding: 3% 3% 3% 3%;
}

h1 {
	font-size: 30px;
	color: #333333;
	text-align:right;
	padding: 20%
	margin-bottom:2%;
}

h2 {
	color: #105b5f;
}

h2:before {
	content: "";
	display: inline-block;
	margin-right:1%;
	width: 16%;
	height: 10px;
	background-color: #105b5f;
}

table {
	width:80%;
}
